
@import 'abstracts/mixins.scss';
@import 'base/typography.scss',
'base/colors.scss';

@import 'components/button.scss',
'components/cards.scss',
'components/checkbox.scss';


body {
    margin: 0;
    padding: 0;
}

.section-shopping-card {
    display: flex;
    padding: 16px;

    @include breakpoint(tablet) {
        flex-wrap: wrap-reverse;
    }

    .shopinglist {
        flex: 2 1 auto;
        padding-right: 24px;

        .list-part {
            ul.productionlist {
                padding-left: 16px;
                margin: 0;
                @include breakpoint(mobile) {
                    padding-left: 0;
                }
                li.item {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    -ms-flex-direction: row;
                    padding: 24px 0;
                    border-bottom: 1px solid $light-gray;

                    .img-part {
                        margin: 8px;

                        img {
                            border: 1px solid $light-gray;
                            border-radius: 2px;

                            @include breakpoint(mobile) {
                                width: 72px;
                                height: 72px;
                            }
                        }
                    }

                    .content-part {
                        flex: 2;
                        padding-left: 2em;
                        @include breakpoint(mobile) {
                            padding: .5em;
                        }

                        .number {
                            padding: 6px 16px;
                            border-bottom: 1px solid $black-gray;
                            font-family: "Montserrat";
                            font-weight: 500;
                            color: $gray;
                            font-size: 16px;
                        }

                        .production-number {
                            padding-right: 8px;
                        }

                        .others {
                            display: flex;
                            flex-wrap: nowrap;
                            padding: 16px 0;
                            @include breakpoint(mobile) {
                                flex-wrap: wrap;
                            }
                        }
                    }

                    .result-part {
                        align-content: flex-end;
                        align-items: flex-end;
                    }

                }
            }
        }
    }

    .empty-card-info {
        padding: 16px;
        background-color: $light-gray;
        border-radius: 6px;
        color: $gray;
    }

    .shoping-summary {
        flex: 1 1 auto;
        border-left: 4px solid $orange;
        padding: 24px;
        height: fit-content;

        &::after,
        &::before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background-color: $orange;
        }

        .total-price,
        .shipping-price {

            @include breakpoint(tablet) {
                display: flex;
                justify-content: space-between;
                align-self: center;
                align-items: center;
            }

        }
    }
}