$orange: #FB991A;
$darkorange: #EF8D0F;
$yellow: #FFDC30;
$red: #F82533;
$nude:#F9E893;
$warning-red: #FB9DA0;
$warning-green: #7FD489;
$black-gray: #343434;
$gray: #545454;
$light-gray:#D2D2D2;
$card-background:     #fff;
$card-border-color:   #d3d3d3;